.a1-flex {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  gap: 50px;
}

.a1-flex > div {
  flex: 1;
}

.a1-title {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 50px;
}

.a1-subtitle {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 50px;
}

.a1-img {
  margin-left: 50px;
  width: 500px;
}

.a1-right {
  margin-top: 100px;
  margin-right: 40px;
  text-align: justify;
}

.a1-sectiontitle {
  font-size: 21px;
  font-weight: 700;
  color: #9f9f9f;
  line-height: 28px;
}

.a1-sectionbody {
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
  margin-top: 20px;
  line-height: 30px;
}

.a1-sectionfooter {
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
  margin-top: 30px;
  margin-left: 55%;
}

.a1-sectionfooter span {
  font-size: 21px;
  font-weight: 700;
}

@media (max-width: 1500px) {
  .a1-flex {
    flex-direction: column;
  }
  .a1-right {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 90px;
  }
}
