.a2-title {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 50px;
}

.a2-subtitle {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 50px;
}

.a2-process {
  margin-top: 100px;
  text-align: center;
}

.a2-process img {
  width: 80%;
}
