.a1-flex {
  display: flex;
  margin-top: 50px;
}

.a1-flex > div {
  flex: 1;
}

.a1-title {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
}

.a1-subtitle {
  font-size: 30px;
  margin-top: 20px;
}

.a1-sectiontitle {
  font-size: 21px;
  font-weight: 700;
  color: #9f9f9f;
  line-height: 28px;
}

.a1-sectionbody {
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
  margin-top: 20px;
  line-height: 30px;
}

.a1-sectionfooter {
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
  margin-top: 20px;
}

.a1-sectionfooter span {
  font-size: 21px;
  font-weight: 700;
}
