@font-face {
  font-family: "NotoSansKR";
  src: url("font/NotoSansKR/NotoSansKR-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("font/NotoSansKR/NotoSansKR-Medium.otf") format("opentype");
  font-weight: 500;
}

/* @font-face {
  font-family: "NotoSansKR";
  src: url("font/NotoSansKR/NotoSansKR-SemiBold.otf") format("opentype");
  font-weight: 600;
} */

@font-face {
  font-family: "NotoSansKR";
  src: url("font/NotoSansKR/NotoSansKR-Bold.otf") format("opentype");
  font-weight: 700;
}

.container {
  width: calc(100vw - 7.6vw);
  margin: 120px 110px;
}

.app-flex {
  display: flex;
}

body {
  font-family: Inter;
}
