.la-wrapper {
  position: absolute;
  margin-top: -120px;
  margin-left: -110px;
  width: 5vw;
  min-width: 50px;
  height: 100vh;
  text-align: center;
  flex-shrink: 0;
  border-right: 1px solid white;
  background-color: rgba(0, 0, 0, 0.2);
}

.ra-wrapper {
  position: absolute;
  margin-top: -120px;
  margin-left: calc(100% - 18.5vw);
  width: 5vw;
  min-width: 50px;
  height: 100vh;
  text-align: center;
  flex-shrink: 0;
  border-left: 1px solid white;
  background-color: rgba(0, 0, 0, 0.2);
}

.la-wrapper p,
.ra-wrapper p {
  color: rgba(0, 0, 0, 0.5);
  line-height: 100vh;
  font-size: 30px;
}
