.b-flex {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

@media (max-width: 1500px) {
  .b-flex {
    flex-direction: column;
  }
}

.b-flex > div {
  flex: 1;
}

.b-bookimg {
  width: 500px;
}

.b-right {
  margin-right: 30px;
}

.b-sectiontitle {
  font-size: 21px;
  font-weight: 700;
  color: #9f9f9f;
  max-width: 30vw;
}

.b-sectionbody {
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
  line-height: 30px;
  text-align: justify;
  margin-top: 50px;
}
