.b-bookimg {
  position: absolute;
  width: 1000px;
  top: 100px;
  left: 0;
}

.b-flex {
  display: flex;
}

.b-flex > div {
  flex: 1;
}

.b-title {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
}

.b-subtitle {
  font-size: 30px;
  margin-top: 20px;
}

/* .b-left {
  text-align: center;
}

.b-left img {
  width: 300px;
} */

.b-sectiontitle {
  font-size: 21px;
  font-weight: 700;
  color: #9f9f9f;
}

.b-sectionbody {
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
  line-height: 30px;
  margin-top: 50px;
}
