.c-flex {
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 75vw;
  margin-left: 110px;
  height: 100%;
}

.c-left {
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
  line-height: 30px;
}

.c-right img {
  width: 850px;
}

@media (max-width: 1800px) {
  .c-right img {
    width: 600px;
  }
}

@media (max-width: 1400px) {
  .c-flex {
    flex-direction: column-reverse;
    align-items: flex-start;
    position: static;
    bottom: none;
  }
  .c-left {
    margin-top: 0;
  }
}
