.c-flex {
  display: flex;
}

.c-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.c-details {
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
  margin-top: 200px;
}

.c-right img {
  width: 600px;
}
