.n-wrapper {
  width: 7.6vw;
  min-width: 100px;
  text-align: center;
  flex-shrink: 0;
  border-right: 1px solid white;
  position: relative;
}

.n-logo {
  width: 75px;
  margin-top: 45px;
}

.n-language {
  margin-top: calc(100vh - 115px - 32px);
}

.n-language p {
  text-transform: uppercase;
}

.n-bookmark {
  position: absolute;
  width: 128px;
  bottom: 7vh;
  left: 6.5vw;
}
