.n-wrapper {
  width: 150px;
  text-align: center;
  background-color: #d3d3d3;
}

.n-logo {
  width: 75px;
  margin-top: 45px;
}

.n-language {
  margin-top: 50vh;
}

.n-language p {
  text-transform: uppercase;
}
