.n-wrapper {
  width: 7.6vw;
  min-width: 100px;
  height: 100vh;
  text-align: center;
  flex-shrink: 0;
  border-right: 1px solid white;
  position: relative;
}

.n-logo {
  width: 75px;
  margin-top: 45px;
}

.n-language {
  margin-top: 74vh;
  width: 46px;
  cursor: pointer;
}

.n-bookmark {
  position: absolute;
  width: 128px;
  bottom: 15vh;
  left: 6.5vw;
}
